@import "tailwindcss";
@import "@fontsource/montserrat";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-montserrat);
  @apply text-gray-800 bg-gray-50;
}

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;           
}